.about__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 130rem;
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.about__text {
    width: 80%;
    margin: 0 auto;
}

.about__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about__cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.4rem;
    row-gap: 2.4rem;
    margin: 2rem 0;
    /*text-align: center;*/
}

.team__card__image {
    max-width: 376px;
}

.about__img {
    /*max-width: 376px;*/
    height: auto;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.team__card__text {
    margin-top: 1.2rem;
}
.team__name {
    font-size: calc(1.4rem + 0.4vw);
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
}
.team__job {
    font-size: calc(1rem + 0.4vw);
}

/* Text above the cards */
#about-title,
#about__p {
    /*width: 70%;*/
    margin: 0 auto;
    text-align: center;
}

/* Main section heading (responsive) */
#about-title {
    font-size: calc(2rem + 1vw); /* responsive size */
    font-weight: var(--fw-semibold);
    margin-top: 6.4rem;
}

/* Main intro paragraph (responsive) */
#about__p {
    font-size: calc(1rem + 0.4vw); /* responsive size */
    line-height: 1.7;
    margin-bottom: 2rem;
    color: var(--clr-body); /* adjust if needed */
}
