/* General App.css file */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    line-height: 1.6;
    overflow-x: none;
    background-color: var(--clr-accent4);
}

.container__body {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
    line-height: 1.6;
    overflow-x: none;
    background-color: var(--clr-accent4);
}
