/* Section and Banner styling */
.section__banner {
    padding: 0; /* Reduced vertical padding to make the banner shorter */
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    width: 100%;
    filter: brightness(1.2);
    border-bottom: 6px solid var(--clr-accent2);
}

/* Banner container and items */
.banner__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner__items {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    justify-content: space-evenly;
    align-items: center; /* Ensure vertical alignment */
    width: 100%;
    max-width: 130rem;
    padding: 0;
}

/* Banner image styling */
.banner__img {
    height: auto; /* Keep the images at their original aspect ratio */
    width: 16rem; /* Keep the fixed uniform width */
    object-fit: contain; /* Ensures the logo is fully visible without stretching */
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    margin: 0; /* Adjust the margin to keep spacing balanced */
    opacity: 1;
    aspect-ratio: 16/10;
}
.banner__img:nth-child(2),
.banner__img:nth-child(4) {
    object-fit: cover;
}

.banner__img:nth-child(3) {
    width: auto; /* The 3rd item has a smaller width */
    height: 7.5rem;
    aspect-ratio: 16/10;
}

.banner__img:hover {
    filter: grayscale(0%); /* Removes grayscale effect on hover */
}
