/* Section and Banner styling */
.section__banner {
    padding: 0; /* Reduced vertical padding to make the banner shorter */
    background-color: var(--clr-accent4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.85;
    width: 100%;
    filter: brightness(1);
    /*border-bottom: 6px solid var(--clr-accent2);*/
    /*border-top: 6px solid var(--clr-accent2);*/
}

/* Banner container and items */
.banner__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: var(--clr-accent2);*/
}

.banner__items {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    justify-content: space-evenly;

    align-items: center; /* Ensure vertical alignment */
    width: 100%;
    max-width: 150rem;
    padding: 0.5rem 0;
    /*padding-bottom: 0.5rem;*/
    /*column-gap: 6rem;*/
    flex-wrap: wrap;
}

/* Banner image styling */
.banner__img {
    height: auto; /* Keep the images at their original aspect ratio */
    width: 16rem; /* Keep the fixed uniform width */
    object-fit: contain; /* Ensures the logo is fully visible without stretching */
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    margin: 0; /* Adjust the margin to keep spacing balanced */
    opacity: 1;
    aspect-ratio: 16/10;
}
.banner__img:nth-child(2),
.banner__img:nth-child(3) {
    object-fit: cover;
}

.banner__img:nth-child(4) {
    height: 6.5rem;
}

.banner__img:nth-child(5) {
    width: auto; /* The 3rd item has a smaller width */
    height: 7.5rem;
    aspect-ratio: 16/10;
}

.banner__img:hover {
    filter: grayscale(0%); /* Removes grayscale effect on hover */
}

/*.banner__img:hover .section__banner {
    opacity: 1;
}*/
