.container__body {
    max-width: 100vw;
    margin: 0 auto;
    /*padding: 0 1rem;*/
    box-sizing: border-box;
    line-height: 1.6;
    overflow-x: none;
    background-color: var(--clr-accent4);
}

.main__content {
    display: flex;
    flex-direction: column;
}
