/* Index.css file */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom Properties */

:root {
    /* Font family defaults */
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Assistant", sans-serif;

    /* Font weight defaults */
    --fw-light: 300;
    --fw-reg: 400;
    --fw-semibold: 500;
    --fw-bold: 700;

    /* Colors default */
    --clr-accent: #174686;
    --clr-accent2: #ed3f27;
    --clr-accent3: #feb21a;
    --clr-accent4: #fdf4e3;
    --clr-accent5: #334243;
    --clr-hover: #777;
    --clr-hover2: #2563eb;
    --clr-shade: #128a66;
    --clr-body: #35312a;
    --clr-headings: #060506;
    --clr-headings2: #fff;
    --clr-body2: #f5f5f5;

    /* Font Size */
    --fs-title: 5rem;
    --fs-h1: 3.6rem;
    --fs-h2: 2.4rem;
    --fs-h3: 2rem;
    --fs-body: 1.75rem;
    --fs-btn: 1.5rem;

    --spacing-mb: 4.8rem;
    --max-width: 80%;

    /* Box shadow */
    --bs-1: 0px 4px 16px rgba(0, 0, 0, 0.2);
    --bs-2: 0px 8px 24px rgba(0, 0, 0, 0.15);

    /* Adjust font sizes for screens up to 1000px wide */
    @media (max-width: 120rem) {
        :root {
            --fs-title: 4.5rem;
            --fs-h1: 2.7rem; /* smaller than 3.6rem */
            --fs-h2: 2rem; /* smaller than 2.4rem */
            --fs-h3: 1.65rem; /* smaller than 2rem */
            --fs-body: 1.4rem; /* smaller than 1.75rem */
            --fs-btn: 1.2rem; /* smaller than 1.5rem */
        }
    }
}
/* SCROLLBAR */

html::-webkit-scrollbar {
    width: 0.8rem; /* width of enitre scrollbar */
    height: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--clr-headings);
    /* background: #111; */
    padding-left: 0.1rem; /* color of the tracking area */
}

html::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent); /* color of the scroll thumb */
    /*background-color: #111;  color of the scroll thumb */
    /* border-radius: 100px; roundness of the scroll thumb */
    border-radius: none; /* roundness of the scroll thumb */
    /* border-left: 3px solid #111;
  border-right: 1px solid #111; */
    padding-left: 0.1rem; /* creates padding around scroll thumb */
}
