/* Navbar styling */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-accent5);

    opacity: 1;
    font-family: var(--ff-primary);
    padding: 1rem 1rem;
    transition:
        background-color 0.3s,
        opacity 0.3s;
    border-bottom: 1px solid var(--clr-accent5);
}

/* Sticky state after scrolling */
.navbar--sticky {
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
    background-color: #111;
    opacity: 0.87;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    animation: fadeDown 0.3s ease-out;
}

/* Small animation when sticking */
@keyframes fadeDown {
    from {
        transform: translateY(-15px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Logo container */
.logo__img-container {
    display: flex;
}

/* Logo image */
.navbar .logo__img {
    max-width: 15rem;
    width: auto;
    height: auto;
    border-radius: 6px;
}

/* Outer nav container */
.nav__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 150rem;
}

/* Links container */
.nav__links {
    display: flex;
    justify-content: space-around;
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    max-width: 80rem;
}

/* Individual link */
.nav__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-semibold);
    text-decoration: none;
    color: var(--clr-accent4);
}

.nav__link:hover {
    color: var(--clr-accent2);
}
