/* VIDEO */
.section__video {
    /* display: none; */
    margin: 3.6rem 0;
}

.video__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.2rem;
}

.iframe {
    width: 100%;
    /* 16:9 RATIO*/
    max-width: 110rem;
    height: auto;
    aspect-ratio: 16 / 9;
    /* max-width: 130rem;
    height: 73.125rem;  */
    /*border-radius: 6px;*/
}

/* .section__video {
    display: none;
} */

/* Full-bleed background section */
.video__text {
    position: relative;
    width: 100vw;
    padding: 2rem 0;
    margin-top: 1.2rem;
    margin-bottom: 3.2rem;
    z-index: 1;
    color: var(--clr-accent4);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    box-sizing: border-box;
    filter: brightness(1.1);
}

.video__text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        100deg,
        var(--clr-accent5) 40%,
        var(--clr-accent2) 60%
    );
    z-index: -1;
}

/* Constrain and center text content inside full-width banner */
.video__text > * {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#video-title {
    font-size: calc(2rem + 1vw);
    font-weight: var(--fw-semibold);
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
}

#video__p {
    font-size: calc(1rem + 0.4vw);
    line-height: 1.7;
    margin-bottom: 2rem;
}
